<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Waffle Billing page</title>
 
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   <script src="index.js"></script>
    <link rel="stylesheet" href="/Style.css" />
</head>
<body>
<input type="hidden" id="userId" th:value="${userId}">
<input type="hidden" id="userName" th:value="${userName}">
<input type="hidden" id="userType" th:value="${userType}">

  <div class="layout">
<button id="toggleBtn" class="toggle-btn" onclick="toggleSidebar()">☰</button>
<aside id="sidebarOverlay" class="sidebar-overlay desktop-only">
  <button class="close-btn" onclick="toggleSidebar()">×</button>

  <div class="sidebar-content">
    <h1><img src="images/Waffle N.png" alt=""> Waffle N'Fries </h1>
    <nav class="nav-links">
      <a href="/index">🏠 Dashboard</a>
       <a href="/reports">📊 Report</a>
      <a href="/product">📦 Inventory</a>
      <a href="/user">📦 Users</a>
      <a href="/logout">Log Out</a>
    </nav>
  </div>
</aside>

<!-- Optional Backdrop -->
<div id="overlayBackdrop" class="overlay-backdrop" onclick="toggleSidebar()"></div>



    <!-- Main Grid Content -->
    <main class="grid-content">
      <!-- Grid 1: Empty -->
      <section class="grid-box categories" >
			<h1 class="back-heading" id="backbtn">
			  <span class="icon">⬅</span> Category
			</h1>
	        <ul style="list-style-type:none;" id="list" class ="menu-list">
	            <li th:each="cat : ${Categories}" th:text="${cat.name}">Category Name</li>
	        </ul>
	        <ul class ="menu-list" style="list-style-type:none; display : none;" id="sublist" > </ul>
      </section>
      
	
      <!-- Grid 2: Quantity Buttons -->
      <section class="grid-box product-box" id="prodContainer">
      
      <div class="quantity-wrapper" id="prodlist" >
    <div class="quantity-heading">
	
    </div>
    <div class="quantity-note">
    </div>
  </div>
		<table id="TableDiv" style="display: none;"></table>
	
    	<div id="prodData" style = "display : none;"></div>	
</section>


      <!-- Grid 3: Billing Form -->
      <section class="grid-box billing-form" id = "TableDiv">
  <h3>💵 Billing </h3>

  <label>Customer Name</label>
  <input type="text" placeholder="Enter name" id = "customerName" />

  <label>Phone Number</label>
  <input type="tel" placeholder="Enter phone number" maxlength="10" id = "customerPhNum"/>

  <label>Order Type</label>
  <select id = "orderType">
    <option value="s" disabled selected>&nbsp&nbspSelect</option>
    <option value="Dine-In">Dine-In</option>
    <option value="Delivery">Delivery</option>
  </select>
 <span id="orderTypeSpan"></span>
  <label>Payment</label>
  <select id = "paymentType">
  <option value="S" disabled selected>&nbsp&nbspSelect</option>
    <option value="Cash">Cash</option>
    <option value="UPI">UPI</option>
    <option value="Card">Card</option>
  </select>
  <span id="paymentTypeSpan"></span>
  <br><p><span style="font-weight: bold;" id="totalspan">TOTAL</span><span id="printTotal">0.00</span></p>
  <div id="amount"> </div>


  <div class="billing-actions">
    <button class="save-btn" id="billSave">💾 Save</button>
    
    <button class="print-btn" id="printBill">🖨️ Print</button>
    <button class="clear-btn">🧹 Clear</button>
  </div>
</section>

    </main>
    
  </div>
  <div id="billTypeDiv" style="display:none;">
  		<div class="billType" data-code="dine">
  			<img alt="" src="images/dinner.png">
  			<span>Dine In</span>
  		</div>
  		<div class="billType" data-code="del">
  			<img alt="" src="images/food-delivery.png">
  			<span>Delivery</span>
  		</div>
  </div>
  
         <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="script.js" type="text/javascript"></script>
    

</body>
</html>
