<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Waffle Shop Dashboard</title>
<link rel="stylesheet" href="dashboard.css" />
</head>
<body>

<h1><img src="images/Waffle N.png" alt=""> Waffle N'Fries </h1>

<div class="cards-container">
  <div class="card" onclick="location.href='/billing'">
    <div class="icon">💵</div>
    <h2>Billing</h2>
    <p>Quickly generate new bills and manage payments.</p>
    <button>Go to Billing →</button>
  </div>

  <div class="card" onclick="location.href='/reports'">
    <div class="icon">📊</div>
    <h2>Reports</h2>
    <p>View sales & expenses in one place.</p>
    <button>Go to Reports →</button>
  </div>

  <div class="card" onclick="location.href='/product'">
    <div class="icon">📦</div>
    <h2>Inventory</h2>
    <p>Keep stock updated and view product status.</p>
    <button>Go to Inventory →</button>
  </div>

 
</div>

<div class="footer">
			  <p>© 2025 Waffle N'Fries. All rights reserved.</p>
			  <p>Website developed and maintained by Byte innovations </p>
			</div>
</body>
</html>
